In [1]:
l =[1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [4]:
for num in l:
    print num

1
2
3
4
5

In [5]:
for num in l:
    print 'something!'

something!
something!
something!
something!
something!

In [6]:
#MODULO

In [7]:
10 % 3

1

In [8]:
18 % 7

4

In [9]:
4 % 2

0

In [10]:
l

[1, 2, 3, 4, 5]

In [11]:
for num in l:
    if num % 2 == 0:
        print num

2
4

In [12]:
for num in l:
    if num % 2 == 0:
        print 'Here is an even'
    else: 
        print 'Odd number!'

Odd number!
Here is an even
Odd number!
Here is an even
Odd number!

In [13]:
for num in l:
    if num % 2 == 0:
        print num
    else: 
        print 'Odd number!'

Odd number!
2
Odd number!
4
Odd number!

In [14]:
l

[1, 2, 3, 4, 5]

In [17]:
list_sum = 0

for num in l:
    list_sum = list_sum + num

print list_sum

15

In [18]:
list_sum = 0

for num in l:
    list_sum += num

print list_sum

15

In [19]:
s = 'This is a string!'

In [21]:
for letter in s:
    print letter

T
h
i
s

i
s

a

s
t
r
i
n
g
!

In [24]:
tup =(1,2,3,4,5)

for num in tup:
    print num

1
2
3
4
5

In [25]:
l =[(2,4), (6,8), (10,12)]

In [26]:
l

[(2, 4), (6, 8), (10, 12)]

In [27]:
l[0]

(2, 4)

In [28]:
l[0][0]

2

In [29]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [30]:
for (t1, t2) in l:
    print t1

2
6
10

In [31]:
for (t1, t2) in l:
    print t1+t2

6
14
22

In [33]:
d={'k1':1, 'k2':2, 'k3':3}

In [34]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [35]:
for item in d:
    print item

k3
k2
k1

In [38]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1