In [1]:
print 'This is a string'

This is a string

In [5]:
x = 'String'
print 'Place my variable here : %s' %(x)

Place my variable here : String

In [7]:
x =13.13
print 'Place my variable here: %s' %(x)

Place my variable here: 13.13

In [9]:
print 'Floating point number: %1.2f' %(13.145)

Floating point number: 13.14

In [10]:
print 'Floating point number: %1.3f' %(13.145)

Floating point number: 13.145

In [11]:
print 'Floating point number: %1.1f' %(13.145)

Floating point number: 13.1

In [12]:
print 'Floating point number: %1.10f' %(13.145)

Floating point number: 13.1450000000

In [13]:
print 'Floating point number: %25.3f' %(13.145)

Floating point number:                    13.145

In [14]:
print 'Convert to string %s' %(123)

Convert to string 123

In [15]:
print 'Convert to string %r' %(123)

Convert to string 123

In [17]:
print 'First: %s, Second: %s, Third: %s' %('Hi!', 'two', '3')

First: Hi!, Second: two, Third: 3

In [19]:
print 'First: %s, Second: %s' %(2,2)

First: 2, Second: 2

In [21]:
print 'First: {x} Second: {x}'.format(x= 'inserted')

First: inserted Second: inserted

In [22]:
print 'First: {x} Second: {y} Third {x}'.format(x= 'inserted', y = 'two!')

First: inserted Second: two! Third inserted

In [24]:
from __future__ import print_function

In [25]:
print ('hello')

hello

In [27]:
print ('One: {x}'.format (x='insert!'))

One: insert!